{% extends 'base.html.twig' %}

{% block body %}
    <section class="articles">
        <h1>Articles</h1>
        <article>
            <h3>Article</h3>
            <img src="http://placehold.it/350x150" alt="Smiley face" >
            <div>
            <a href="{{ path('BlogChatteActuelleShow') }}" class="btn btn-primary">Primary</a>
            </div>
        </article>
    </section>

{% endblock %}
