{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h3>Article</h3>
        <img src="http://placehold.it/350x150" alt="Smiley face" >
        <div>
            <a href="{{ path('BlogChatteActuelle') }}" class="btn btn-primary">Retour</a>
        </div>
    </article>

{% endblock body %}